* {
    -fx-primary-red: #F23022;
    -fx-secondary-red: #FF4A3C;
    -fx-primary-blue: #003366;
    -fs-secondary-blue: #1A4D80;
    -fx-primary-background: #C7C7C7;
    -fx-secondary-background: #e1e1e1;
}